$size-base: 16;

$background_hover_green: #055315;
$background_green: #055315;
$background_gray: #fafafa;

$shadow_gray: rgba(67, 67, 67, 0.25);

$white: #fff;

$color-text: #333;
$color-quotes: #055315;

$border-color: #cacaca;