@import '../../styles/commons.scss';
@import '../../styles/functions.scss';

.card {
  background-color: $white;
  max-width: pxToRem(200);
  border: pxToRem(1) solid #cacaca;
  border-radius: pxToRem(5);
  padding: pxToRem(10);
  text-align: center;
  margin-right: pxToRem(20);
  margin-bottom: pxToRem(20);
  min-height: pxToRem(337);
  justify-content: space-between;
  display: flex !important;
  box-shadow: pxToRem(15) pxToRem(3) pxToRem(20) pxToRem(0) $shadow_gray;
  &__title {
    font-size: pxToRem(14);
  }
  &__image {
    img {
      max-width: 100%;
      max-height: pxToRem(237);
      height: pxToRem(237);
      margin: 0 auto;
    }
  }
}

.slick-next:before,
.slick-prev:before,
.slick-dots li.slick-active button:before {
  color: $background_hover_green;
}
