@import '../../styles/commons.scss';
@import '../../styles/functions.scss';

.generic-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: pxToRem(5);
  border-radius: pxToRem(5);
  text-align: center;
  min-width: pxToRem(300);
  &__title {
    font-size: pxToRem(24);
    font-weight: bold;
    margin-top: pxToRem(16);
  }
  &__content {
    font-size: pxToRem(18);
    margin-bottom: pxToRem(5);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: pxToRem(25);
    p {
      margin-bottom: pxToRem(8);
      text-align: left;
      span {
        display: inline-block;
        font-weight: bold;
        width: pxToRem(110);
      }
    }
    img {
      max-width: pxToRem(200);
      margin: 0 auto;
      margin-bottom: pxToRem(8);
      margin-right: pxToRem(25)
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      p {
        text-align: center;
        span {
          width: auto;
        }
      }
      img {
        margin-right: 0;
      }
    }
  }
}

.view-trailer {
  width: pxToRem(70);
  height: pxToRem(70);
  padding: pxToRem(10) pxToRem(16);
  border-radius: pxToRem(35) !important;
  font-size: pxToRem(12);
  text-align: center;
  border: pxToRem(5) solid !important;
  &:hover {
      background-color: $background_hover_green  !important;
      border-color: $background_hover_green  !important;
    }
}

.more-details {
  &:hover {
    background-color: $background_hover_green !important;
  }
}