@import '../../styles/commons.scss';
@import '../../styles/functions.scss';

.footer {
  bottom: 0;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  padding: pxToRem(10);

  &__box-item {
    color: $white;
    text-align: center;
    padding: pxToRem(35);
    border-right: pxToRem(1) solid #efefef;

    &:last-child {
      border: none;
    }

    i {
      font-size: pxToRem(24);
      margin-bottom: pxToRem(16);
    }

    &__title {
      font-size: pxToRem(18);
      margin-bottom: pxToRem(8);
      font-weight: normal;
      text-transform: uppercase;
    }

    &__description {
      font-size: pxToRem(14);
      margin-bottom: pxToRem(8);
      font-weight: normal;
    }
  }

  @media (max-width: 768px) {
    display: block;
    border: none;

    &__box-item {
      border: none;
    }
  }
}