@import '../../styles/commons.scss';
@import '../../styles/functions.scss';

.title-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: pxToRem(10);
  text-transform: uppercase;
  &::before {
    content: '';
    width: pxToRem(12);
    height: pxToRem(40);
    background: $background_green;
    margin-right: pxToRem(5);
  }
}

.background-gray {
  background: $background_gray;
}